.section-uppertitle {
    background-color: #000000;

    font-weight: 400;
    font-size: 11px;
    line-height: 11px;
    padding: 6px 12px;

    max-width: 125px;

    justify-content: center;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
    margin: 0 auto;
    margin-bottom: 33px;

    &--light {
        background-color: $main-color-light;
        color: $main-color;
    }

}