// fonts
$main-font: 'Roboto', sans-serif;

// color-pallete
$main-color: #222222;
$main-color-light: #FFFFFF;
$accent-color: #1EACC7;
$accent-color-secondary: #FF5656;

// background-color
$section-bg-color: #070716;